/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/mix-manifest.json
/public/js/dashboard.js
/public/js/jquery.js
/public/js/login.js
/public/css/
/resources/views/preRendered/catering/
/resources/views/preRendered/contact/
/resources/views/preRendered/liveMusic/
/resources/views/preRendered/menu/
/resources/views/preRendered/index.html
/public/js/app.js
/public/js/login.js.map
/public/js/jquery.js.map
/public/js/dashboard.js.map
/public/js/app.js.map
/public/fonts/vendor/@mdi/
/resources/views/preRendered/brunch-menu/index.html
